body{
    background-image: url(fondo-ilustrado-laboratorio-quimica_52683-68249.avif);
}
#iniciodesesion{
    background-color: white;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    
    min-height: fit-content;
    min-width: fit-content;
    box-shadow: 7px 14px 21px 10px black;
    padding-bottom: 10%;
    border-radius: 6px;
}
#entradas{
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    min-width: min-content;
    display: inline-block;  
      
}
#email{
    border-top: none;
    border-left:none ;
    border-right: none;
    border-color: #6ea1d8;
    outline: none;
    margin-bottom: 4%;
    width: 60%;
    
}
#pass{
    border-top: none;
    border-left:none ;
    border-right: none;
    border-color: #6ea1d8;
    outline: none;
    margin-bottom: 4%;
    width: 60%;
    
}

#entradas *{
    margin-left: 10%;
    
}
#enviar{
    margin-top: 2%;
    width: 62%;
    border-radius: 6px;
    background-color: white;
    border-color:#6ea1d8;
    
    
}
#enviar:hover{
    background-color: #6ea1d8;
    
}

#iniciodesesion h1{
    margin-bottom:15%;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#entradas p{
    font-size: 12px;
    display: block;
}
#respuesta{
    padding-left: 10%;
}




    #iniciodesesion {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        
    }
    
    #iniciodesesion h1{
        margin-left: 37%;
        max-width: 300px;
}



   

