<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Release</display-name>
    <servlet-name>Release</servlet-name>
    <servlet-class>Release</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Release</servlet-name>
    <url-pattern>/Release</url-pattern>
  </servlet-mapping>
  <display-name>Farmacia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServeXips</servlet-name>
    <servlet-class>ServeXips</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Spatient</servlet-name>
    <servlet-class>Spatient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Smedicine</servlet-name>
    <servlet-class>Smedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeXips</servlet-name>
    <url-pattern>/ServeXips</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Spatient</servlet-name>
    <url-pattern>/Spatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Smedicine</servlet-name>
    <url-pattern>/Smedicine</url-pattern>
  </servlet-mapping>
</web-app>